/* Overlay de transición */
.transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white; /* Fondo blanco o del color deseado */
    z-index: 9999; /* Superpone el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Visible al cargar */
    transition: opacity 1.5s ease; /* Desvanecimiento suave */
  }
  
  /* Oculta el overlay después de la animación */
  body.loaded .transition-overlay {
    opacity: 0;
    pointer-events: none; /* No afecta la interacción */
  }
  
  /* Imagen de transición */
  .transition-image {
    width: 250px;
    height: auto;
    animation: circle-in-hesitate 2.5s cubic-bezier(.25, 1, .30, 1) both;
  }
  
  /* Animación personalizada */
  @keyframes circle-in-hesitate {
    0% {
      clip-path: circle(0%);
    }
    60% {
      clip-path: circle(40%);
    }
    100% {
      clip-path: circle(100%);
    }
  }
  