.categoria {
    width: 97%;
    max-width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: left;
  }
  
  .categoria h2 {
    font-size:1.6em;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.6;
  }
  
  .carrusel {
    display: flex;
    overflow: hidden;
    gap: 20px;
    scroll-behavior: smooth;
  }

.item {
    min-width: 220px;
    background-color: #f9fafb;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    position: relative; /* Hacer que el elemento sea posicionado para trabajar con z-index */
    transition: transform 0.3s, z-index 0s; /* Transición suave */
  }
  
  .item:hover {
    transform: translateY(-5px);
    z-index: 10; /* Asegura que el item se muestre por encima cuando el cursor está encima */
  }
  
  /* Estilos de la imagen */
  .item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .item:hover img {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen al pasar el cursor */
  }
  
  /* Estilos para el texto */
  .item p {
    font-weight: 600;
    color: #333;
    margin: 0 0 5px 0;
  }
  
  .item span {
    font-size: 1.1em;
    color: #000000;
  }

  .item-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    padding: 10px 0;
    scroll-snap-type: x mandatory;
    max-width: 100%; /* Asegura que el contenedor no exceda el ancho */
    white-space: nowrap; /* Evita que el contenido se envuelva en múltiples filas */
}

/* Estilos de las secciones de productos, reseñas y acerca de */
.items, .resenas, .acerca-de {
    padding: 20px;
    text-align: center;
}

.items h2, .resenas h2, .acerca-de h2 {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.items-grid, .resenas-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}